/*
    Description: Custom colour scheme used for the website.
    to be called after any bootstrap files
    this will overite the standard bootstrap colours.

    Author: Aaron Hay
 */



@import url("../fonts/proxima/stylesheet.css");



html, body
{
    font-family: 'Proxima Nova Rg';
    font: "ProximaNova-Regular.woff2";
    background-color: #cccccc;
    font-size: 120% ;
}

.justify
{
  text-align: justify;
  text-justify: inter-word;
}

.card
{
  width:100%;
}

.card-body, .card-title, .card-text, .card-header
{
  background-color: #ffffff;
}

hr
{
  background-color: #000000;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  html { font-size: 1.07em; }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  html { font-size: 1em; }
  .display-1 { font-size: 2.5em; }
  .lead { font-size: 1.5em; }
  h2 { font-size: 2em; }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
 color: #ffffff;
 cursor: pointer;
 padding: 1em;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
 background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
 padding: 1em;
 display: none;
 overflow: hidden;
 background-color: #2a2c33;
}
